*{
    font-size: large;
}

body{
    background-color: turquoise;
}


body #description{
    margin-left:50px;
    margin-right:50px;
    padding:10px;
    margin-left: 25px;
}

body img{
    border-radius: 10px;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin: auto;
}

.container{
    background-color: #eeeeee;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: rgb(77, 71, 71);
    border-top-color: transparent;
    border-style:solid;
    border-width: 2px;
    margin-top: 0px;
    margin-bottom: 30px;
}

body h1{
    color:white;
    background-color: black;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;

}

.container .ingredients li{
    text-decoration: none ;
    margin-right: 20px;
    
}

.container p{
    
    font-size: 18.5px;
}

.container ul{
    list-style: none;
}

.ingredients{
    padding: 10px;
    font-size: 18px;
}

.elab-box{
    margin:30px;
    margin-top:0px;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #b7b3b3;
    border-style: inset;
    border-width: 1px;
}

.elab-box ol{
    margin-left: 20px;
    margin-right: 20px;
}

.container h2{
    margin: 30px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.Btn{ 
    margin-top:15px;
    background-color: rgb(27, 177, 27); 
    color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius:12px;
    display: block;
    margin:auto;
    text-align: center;
}

.Btn:hover{
    background-color: rgb(96, 32, 156);
    color: white;
}